# Python build artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyo
dist/
build/

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
**/.smbdelete*


# Data
data/**
!data/.gitkeep